[Desktop Entry]
Name=Helium
Comment=Private, fast, and honest web browser
Exec=/usr/bin/helium %u
Icon=helium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=helium
