[Desktop Entry]
Name=Telegram Desktop
GenericName=Telegram
Comment=Official desktop client for the Telegram messenger
TryExec=telegram-desktop
Exec=telegram-desktop -- %u
Icon=telegram-desktop
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;telegram;
Actions=quit;
SingleMainWindow=true

[Desktop Action quit]
Name=Quit Telegram
Exec=telegram-desktop -quit
